page-main {
    button {
        color: #404040;
    }
.qr {
    align-content: center;
}
h1 {
    text-align: center;
    color: #404040
}
h2 {
    text-align: center;
    color: #404040
}
h3 {
    text-align: center;
    color: #404040
}



}
